.carousel-item > img {
  height: 20rem;
  width: 100%;
}
@media screen and (max-width: 512px) {
  .carousel-item > img {
    height: 8rem;
    width: 50%;
  }
}
@media screen and (max-width: 812px) {
  .carousel-item > img {
    height: 14rem;
    width: 70%;
  }
}
.carousel-inner {
  padding-top: 78px;
}

.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.home-page h1 {
  font-family: "Playfair Display", serif;
}

.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 17rem;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page .card-text {
  color: aliceblue !important;
}
.home-page button {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card img:hover {
  transform: scale(0.9);
}

/* ==================
    filters
    ============== */
.filters h5 {
  margin-top: 20px;
  border-bottom: 1px solid rgba(226, 215, 215, 0.337);
}
.color {
  color: white !important;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}
