@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,400;1,700&family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  color: #fff;
  background-color: #2c2c2c;
  padding: 5px 0;
  bottom: 0;
}
.footer a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}
.footer a:hover {
  font-weight: 700;
  border-bottom: 1.5px solid white;
}
/* page not found css */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 80px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===========================
====Register page css====== */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
/* ===========================
====Register page css====== */
.product-link {
  text-decoration: none;
  color: #000 !important;
}

/* ===========================
====User dashboard page css====== */
.user-update-btn {
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
}
